body{
    height: 100%;
    
}

.admini{
    padding: 20px;
    margin: 20px;
    background-color: bisque;
}
.card{
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.1);
    background-color: azure;
    margin-bottom: 30px;
}
.btn{
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
}